/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/loaders/mini-loader/mini-loader.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.mini-loader_loader__gYaGN {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid white;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: mini-loader_rotation__YPAao 1s linear infinite;
}

@keyframes mini-loader_rotation__YPAao {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

